## Merging

In [0]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import copy
import datetime 
from collections import Counter

In [13]:
boxOffice = pd.read_csv("boxoffice_weekly_gross_movie_filled_seasonality.csv")
boxOffice['startdate'] =  pd.to_datetime(boxOffice['startdate'])
boxOffice['enddate'] =  pd.to_datetime(boxOffice['enddate'])
print(boxOffice.shape)
boxOffice.head(5)

(624, 4)

   startdate    enddate  year_week_average_gross  year_week_average_totalmovies
0 2004-01-09 2004-01-15              160765568.0                      94.333336
1 2004-01-16 2004-01-22              151226464.0                      96.000000
2 2004-01-23 2004-01-29              147786000.0                      97.666664
3 2004-01-30 2004-02-05              137958368.0                      97.555557
4 2004-02-06 2004-02-12              152388176.0                      98.888885

In [14]:
filled_set = pd.read_csv("Film-masterfile (from 'film-merge-8th.dta')-filled.csv")
# turn release time into timestamp
filled_set['releasedate'] =  pd.to_datetime(filled_set['releasedate'])
filled_set['closedate'] =  pd.to_datetime(filled_set['closedate'])
filled_set['year_week_average_gross'] = np.nan
filled_set['year_week_average_totalmovies'] = np.nan
filled_set.head(5)

   Unnamed: 0  year  ...  year_week_average_gross year_week_average_totalmovies
0           0  2013  ...                      NaN                           NaN
1           1  2012  ...                      NaN                           NaN
2           2  2012  ...                      NaN                           NaN
3           3  2014  ...                      NaN                           NaN
4           4  2015  ...                      NaN                           NaN

[5 rows x 44 columns]

In [15]:
for i in range(filled_set.shape[0]):
  for j in range(boxOffice.shape[0]):
    if filled_set['releasedate'][i] >= boxOffice['startdate'][j]:
      # fixed week
      filled_set['year_week_average_gross'][i] = boxOffice['year_week_average_gross'][j]
      filled_set['year_week_average_totalmovies'][i] = boxOffice['year_week_average_totalmovies'][j]
      break
  # process
  if i%200 == 0:
    print(i)
filled_set.head(10)

0
200
400
600
800
1000
1200
1400
1600
1800
2000
2200

   Unnamed: 0  year  ...  year_week_average_gross year_week_average_totalmovies
0           0  2013  ...              160765568.0                     94.333336
1           1  2012  ...              160765568.0                     94.333336
2           2  2012  ...              160765568.0                     94.333336
3           3  2014  ...              160765568.0                     94.333336
4           4  2015  ...              160765568.0                     94.333336
5           5  2013  ...              160765568.0                     94.333336
6           6  2012  ...              160765568.0                     94.333336
7           7  2013  ...              160765568.0                     94.333336
8           8  2006  ...              160765568.0                     94.333336
9           9  2011  ...              160765568.0                     94.333336

[10 rows x 44 columns]

In [0]:
filled_set.to_csv("filled_set_1008.csv")